<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ATOZ Mind: User Experience (UX)</title>
  <link rel="icon" href="../assets/logo-atoz-mind.svg">
  <link rel="stylesheet" href="../library/fonts-google-apis.css">
  <link rel="stylesheet" href="../library/quasar-2.7.1.min.css">
  <style>
    .mtitle {
      margin: 12px 0px 24px 0px;
    }
  </style>
</head>

<body>
  <div id="q-app" style="min-height: 100vh;">
    <q-splitter v-model="splitterModel" style="height: 100vh">

      <!-- ----------------------------------------------------------------------- -->
      <!--                          SPLITTER: BAGIAN KIRI                          -->
      <!-- ----------------------------------------------------------------------- -->

      <template v-slot:before>
        <div class="q-pa-md">

          <!-- A. FILTER -->
          <q-input ref="filterRef" filled v-model="filter" label="Search here" class="q-mb-md">
            <template v-slot:append>
              <q-icon v-if="filter !== ''" name="clear" class="cursor-pointer" @click="resetFilter"></q-icon>
            </template>
          </q-input>

          <!-- B. ALERT -->
          <q-banner inline-actions rounded class="bg-primary text-white">
            Resource: <a href="https://grow.google/certificates/ux-design/" style="color: white;">Google UX Design Professional
              Certificate</a>
          </q-banner>

          <!-- C. BUTTON -->
          <div class="q-gutter-sm q-mt-sm q-mb-md">
            <q-btn outline color="primary" label="Expand All" icon-right="open_in_full" @click="$refs.tree.expandAll()"></q-btn>
            <q-btn outline color="primary" label="Collapse All" icon-right="close_fullscreen" @click="$refs.tree.collapseAll()">
            </q-btn>
            <q-btn outline color="primary" label="Reset" icon-right="refresh" @click="defaultNode($refs)"></q-btn>
            <!-- <q-btn outline color="primary" label="Toggle" icon-right="toggle_on" @click="toggleNode($refs)"></q-btn> -->
            <q-btn outline color="primary" label="Home" icon-right="home" href="../index.html"></q-btn>
          </div>

          <!-- D. CONTENT -->
          <!-- 🔴 :default-expand-all GANTI JADI FALSE 🔴 -->
          <q-tree :nodes="customize" node-key="label" ref="tree" selected-color="green" v-model:selected="selected"
            v-model:expanded="expanded" :filter="filter" dense :default-expand-all="true">
            <template v-slot:body-story="prop">{{ prop.node.story }}</template>
          </q-tree>
        </div>
      </template>

      <!-- ----------------------------------------------------------------------- -->
      <!--                     SPLITTER: PEMBATAS (DRAGGABLE)                      -->
      <!-- ----------------------------------------------------------------------- -->

      <template v-slot:separator>
        <q-avatar color="primary" text-color="white" size="40px" icon="drag_indicator"></q-avatar>
      </template>

      <!-- ----------------------------------------------------------------------- -->
      <!--                         SPLITTER: BAGIAN KANAN                          -->
      <!-- ----------------------------------------------------------------------- -->

      <template v-slot:after>

        <!-- ----------------------------------------------------------------------- -->
        <!--                              ANCHOR CONTENT 1                           -->
        <!-- ----------------------------------------------------------------------- -->

        <q-tab-panels v-model="selected" animated transition-prev="jump-up" transition-next="jump-up">

          <q-tab-panel name="User experience design (UXD)">
            <q-layout container style="height: 95vh">
              <div class="q-px-sm q-pb-sm">
                <h4 class="mtitle">Google UX Design Professional Certificate</h4>
                <ul>
                  <li>Because Googlers created this program, you'll learn the most practical information needed to launch your uwn
                    UXD career.</li>
                  <li>Anyone interested in UXD can complete this course, because you don't need any previous experience in design.
                  <li>This certificate program will help you become an entry-level UX designer, and no previous experience is
                    necessary.</li>
                  <li>When you complete this program, you'll have opportunity to apply job with top employers like Google that
                    hiring entry-level UXD.</li>
                  </li>
                  <li>In this program, you'll also complete three unique projects to demonstrate what you've learned.</li>
                  <li>When you're finished, you'll have a portfolio of work, a polished resume, and interview skills.</li>
                  <li>UX designer is one of today’s most in-demand professions. UXD is important for consumers and businesses.
                  </li>
                  <li>As the use of technology increases every day, the need for UX designers continues to grow.</li>
                  <li>Lots of UX jobs don't require a specific work history or a college degree.</li>
                  <li>Some UX professionals have taught themselves the skills needed to land their first job.</li>
                </ul>
                <h4 class="mtitle">User experience design (UXD)</h4>
                <ul>
                  <li>UX is all about how a person, the user, feels about interacting with, or experiencing, a product.</li>
                  <li>UX designers focus on the experience that users have while using products like websites, apps, and physical
                    objects. </li>
                  <li>UX designers make those everyday interactions useful, enjoyable, and accessible.</li>
                  <li>UX designers help make technology easier to understand and more enjoyable to use.</li>
                </ul>
                <p>The phrase "User experience" was first coined in the 1990s by cognitive psychologist, Don Norman. The
                  principles of UX actually stretch back thousands of years, all the way to ancient China, where the practice of
                  Feng Shui began. Practitioners believe that the arrangement of a physical space, like how furniture is
                  positioned in a room, could bring someone luck or improve their health and happiness. Today, lots of different
                  industries still rely on these same basic ideas. In tech world, UX mostly focuses on how people use or interact
                  with products (a good, service, or feature).</p>
                <p><b>Lanjut ke: [02] Get to know UXD - 02 - The basics of UXD</b></p>
              </div>
            </q-layout>
          </q-tab-panel>

          <q-tab-panel name="Plan your time">
            <q-layout container style="height: 95vh">
              <div class="q-px-sm q-pb-sm">
                <h4 class="mtitle">Plan your time</h4>
                <p>Setting regular study times and sticking with them each week can help you make learning a part of your routine.
                  Use a calendar or alarm clock to create a schedule. List what you plan to do each day in order to break your
                  work down into achievable goals. If possible, create a quiet place to watch the videos, review the readings, and
                  complete the activities, so you can really focus on the material.</p>
              </div>
            </q-layout>
          </q-tab-panel>

          <q-tab-panel name="Learn in order">
            <q-layout container style="height: 95vh">
              <div class="q-px-sm q-pb-sm">
                <h4 class="mtitle">Learn in order</h4>
                <p>We recommend taking the seven courses of the certificate program — and the items in each lesson — in the order
                  they appear, as new information and concepts build on previous ones.</p>
              </div>
            </q-layout>
          </q-tab-panel>

          <q-tab-panel name="Be curious">
            <q-layout container style="height: 95vh">
              <div class="q-px-sm q-pb-sm">
                <h4 class="mtitle">Be curious</h4>
                <p>If you find an idea that gets you excited, act on it! Search for more details online, ask questions on the
                  Coursera discussion forums, check out the external links that interest you, and take notes on your discoveries.
                  The little things you do to support your learning along the way will take your knowledge even further and will
                  help you stand out to employers.</p>
              </div>
            </q-layout>
          </q-tab-panel>

          <q-tab-panel name="Take notes">
            <q-layout container style="height: 95vh">
              <div class="q-px-sm q-pb-sm">
                <h4 class="mtitle">Take notes</h4>
                <p>Notes are useful for remembering information that you think might be important in the future, especially as
                  you’re preparing to enter a new job field. In addition, taking notes is an effective way to make connections
                  between topics and gain a better understanding of those topics. Search online for effective note-taking methods,
                  if you'd like some advice.</p>
              </div>
            </q-layout>
          </q-tab-panel>

          <q-tab-panel name="Chat with other learners">
            <q-layout container style="height: 95vh">
              <div class="q-px-sm q-pb-sm">
                <h4 class="mtitle">Chat with other learners</h4>
                <p>If you have a question, chances are, you’re not alone. Reach out in the discussion forum to chat and ask for
                  help from other learners taking this program. You can search through existing threads or start a new one with
                  peers about a topic you want to learn more about.</p>
              </div>
            </q-layout>
          </q-tab-panel>

          <q-tab-panel name="...">
            <q-layout container style="height: 95vh">
              <div class="q-px-sm q-pb-sm">
                <h4 class="mtitle">...</h4>
                <p>...</p>
              </div>
            </q-layout>
          </q-tab-panel>

        </q-tab-panels>
      </template>
    </q-splitter>
  </div>

  <script src="../library/vue-3.global.prod.js"></script>
  <script src="../library/quasar-2.7.1.umd.prod.js"></script>
  <script src="../script/ux-v2.js"></script>
</body>

</html>