<!-- ⚠️ SUMBER: https://quasar.dev/vue-components/tree ⚠️-->

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ATOX Mind: User Experience (UX)</title>
  <link rel="icon" href="assets/favicon.ico">
  <link rel="stylesheet" href="../library/fonts-google-apis.css">
  <link rel="stylesheet" href="../library/quasar-2.7.1.min.css">
</head>

<body>
  <div id="q-app" style="min-height: 100vh;">
    <div>
      <q-splitter v-model="splitterModel" style="height: 100vh">

        <template v-slot:before>
          <div class="q-pa-md">
            <!-- 
            ================
            Padding & Margin
            ================
            p/m                       (padding/margin)
            a/x/y/t/r/b/l             (all/sumbu-x/sumbu-y/top/right/bottom/left)
            none/auto/xs/sm/md/lg/xl
           -->

            <!-- A. FILTER -->
            <q-input ref="filterRef" filled v-model="filter" label="Search here" class="q-mb-md">
              <template v-slot:append>
                <q-icon v-if="filter !== ''" name="clear" class="cursor-pointer" @click="resetFilter"></q-icon>
              </template>
            </q-input>

            <!-- B. CONTENT -->
            <q-tree :nodes="simple" node-key="label" selected-color="green" v-model:selected="selected" :filter="filter" dense default-expand-all></q-tree>

            <!-- 
            ==============
            Daftar Atribut
            ==============
            dense               : mode padat
            dark                : mode gelap (jangan lupa gunakan dark background secara manual)
            accordion           : mode akordion (sibling nodes tertutup saat yang lain terbuka)
            no-connectors       : tanpa garis konektor
            default-expand-all  : buka seluruh nodes secara default
            -->
          </div>
        </template>

        <template v-slot:after>
          <q-tab-panels v-model="selected" animated transition-prev="jump-up" transition-next="jump-up">

            <q-tab-panel name="User Experience (UX)">
              <div class="text-h4 q-mb-md">User Experience (UX)</div>
              <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quis praesentium cumque magnam odio iure quidem, quod illum numquam possimus obcaecati commodi minima assumenda consectetur culpa fuga nulla ullam. In, libero.</p>
              <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quis praesentium cumque magnam odio iure quidem, quod illum numquam possimus obcaecati commodi minima assumenda consectetur culpa fuga nulla ullam. In, libero.</p>
            </q-tab-panel>

            <q-tab-panel name="Pleasing decor">
              <div class="text-h4 q-mb-md">Pleasing decor</div>
              <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quis praesentium cumque magnam odio iure quidem, quod illum numquam possimus obcaecati commodi minima assumenda consectetur culpa fuga nulla ullam. In, libero.</p>
              <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quis praesentium cumque magnam odio iure quidem, quod illum numquam possimus obcaecati commodi minima assumenda consectetur culpa fuga nulla ullam. In, libero.</p>
            </q-tab-panel>

          </q-tab-panels>
        </template>
      </q-splitter>
    </div>
  </div>

  <script src="../library/vue-3.global.prod.js"></script>
  <script src="../library/quasar-2.7.1.umd.prod.js"></script>
  <script src="../script/ux.js"></script>
</body>

</html>