<!-- ⚠️ SUMBER: https://quasar.dev/vue-components/tree ⚠️-->

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ATOZ Mind: User Experience (UX)</title>
  <link rel="icon" href="../assets/logo-atoz-mind.svg">
  <link rel="stylesheet" href="../library/fonts-google-apis.css">
  <link rel="stylesheet" href="../library/quasar-2.7.1.min.css">
  <style>
    .mtitle {
      margin: 12px 0px 24px 0px;
    }
  </style>
</head>

<body>
  <div id="q-app" style="min-height: 100vh;">
    <div>
      <q-splitter v-model="splitterModel" style="height: 100vh">

        <template v-slot:before>
          <div class="q-pa-md">
            <!-- 
            ================
            Padding & Margin
            ================
            p/m                       (padding/margin)
            a/x/y/t/r/b/l             (all/sumbu-x/sumbu-y/top/right/bottom/left)
            none/auto/xs/sm/md/lg/xl
           -->

            <!-- A. FILTER -->
            <q-input ref="filterRef" filled v-model="filter" label="Search here" class="q-mb-md">
              <template v-slot:append>
                <q-icon v-if="filter !== ''" name="clear" class="cursor-pointer" @click="resetFilter"></q-icon>
              </template>
            </q-input>

            <!-- B. CONTENT -->
            <!-- ⚠️ HAPUS "default-expand-all" JIKA INGIN DEFAULT CHILD NODE YANG TERBUKA HANYA SAMPAI LEVEL 3 DARI ROOT (SESUAIKAN DENGAN di "ux.js") ⚠️ -->
            <q-tree :nodes="simple" node-key="label" selected-color="green" v-model:selected="selected" v-model:expanded="expanded" :filter="filter" dense default-expand-all></q-tree>

            <!-- 
            ==============
            Daftar Atribut
            ==============
            dense               : mode padat
            dark                : mode gelap (jangan lupa gunakan dark background secara manual)
            accordion           : mode akordion (sibling nodes tertutup saat yang lain terbuka)
            no-connectors       : tanpa garis konektor
            default-expand-all  : buka seluruh nodes secara default
            -->
          </div>
        </template>

        <template v-slot:after>
          <q-tab-panels v-model="selected" animated transition-prev="jump-up" transition-next="jump-up">

            <q-tab-panel name="User Experience (UX) design">
              <!-- BASIC TEXT -->
              <div class="q-px-sm q-pb-sm">
                <h4 class="mtitle">User Experience (UX)</h4>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quis praesentium cumque magnam odio iure quidem, quod illum numquam possimus obcaecati commodi minima assumenda consectetur culpa fuga nulla ullam. In, libero.</p>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quis praesentium cumque magnam odio iure quidem, quod illum numquam possimus obcaecati commodi minima assumenda consectetur culpa fuga nulla ullam. In, libero.</p>
                <q-img src="../assets/example.png">
              </div>
              <!-- TIMELINE -->
              <div class="q-px-sm q-pb-sm">
                <q-timeline color="secondary">
                  <!-- <q-timeline-entry heading>
                    User Experience (UX)
                  </q-timeline-entry> -->
                  <h4 class="mtitle">User Experience (UX)</h4>

                  <q-timeline-entry title="Event Title" subtitle="February 22, 1986">
                    <div>
                      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                    </div>
                  </q-timeline-entry>

                  <q-timeline-entry title="Event Title" subtitle="February 21, 1986" icon="delete">
                    <div>
                      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                    </div>
                  </q-timeline-entry>
                </q-timeline>
              </div>
            </q-tab-panel>

            <q-tab-panel name="Pleasing decor">
              <!-- BASIC TEXT -->
              <div class="q-px-sm q-pb-sm">
                <h4 class="mtitle">Pleasing decor</h4>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quis praesentium cumque magnam odio iure quidem, quod illum numquam possimus obcaecati commodi minima assumenda consectetur culpa fuga nulla ullam. In, libero.</p>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quis praesentium cumque magnam odio iure quidem, quod illum numquam possimus obcaecati commodi minima assumenda consectetur culpa fuga nulla ullam. In, libero.</p>
                <q-img src="../assets/example.png">
              </div>
              <!-- TIMELINE -->
              <div class="q-px-sm q-pb-sm">
                <q-timeline color="secondary">
                  <!-- <q-timeline-entry heading>
                    Pleasing decor
                  </q-timeline-entry> -->
                  <h4 class="mtitle">Pleasing decor</h4>

                  <q-timeline-entry title="Event Title" subtitle="February 22, 1986">
                    <div>
                      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                    </div>
                  </q-timeline-entry>

                  <q-timeline-entry title="Event Title" subtitle="February 21, 1986" icon="delete">
                    <div>
                      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                    </div>
                  </q-timeline-entry>
                </q-timeline>
              </div>
            </q-tab-panel>

          </q-tab-panels>
        </template>
      </q-splitter>
    </div>
  </div>

  <script src="../library/vue-3.global.prod.js"></script>
  <script src="../library/quasar-2.7.1.umd.prod.js"></script>
  <script src="../script/ux.js"></script>
</body>

</html>