/* --------------------------------- CATATAN -------------------------------- */

/* All responsive modes are tested on : http://responsivetesttool.com/ */

/* ------------------------------- ABOUT TEXT ------------------------------- */

html {
  /* Smooth Scroll */
  scroll-behavior: smooth;
}

body {
  font-family: 'Source Sans Pro', sans-serif;
  background-color: #101117 !important;
}

h1 {
  font-family: 'Playfair Display', serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  color: #F7F9F9;
}

h2 {
  font-weight: 300;
  font-size: 24px;
  color: #D0D3D4;
}

hr {
  background-color: gray;
  border-radius: 12px;
  height: 1px;
}

.separator {
  color: lightskyblue;
  display: flex;
  align-items: center;
  text-align: center;
  font-size: 24px;
}

.separator::before,
.separator::after {
  content: '';
  flex: 1;
  border-bottom: 2px solid #000;
}

.separator::before {
  margin-right: .25em;
}

.separator::after {
  margin-left: .25em;
}

/* ------------------------------- GENERAL CSS ------------------------------ */

.container {
  max-width: 960px;
  /* margin: auto; */
  /* padding: 0 30px; */
}

.unone {
  user-select: none;
}

/* ------------------------------- SWEET ALERT ------------------------------ */

.swal2-modal {
  /* Sesuaikan dengan size bg-image */
  width: 429px;
  height: 550px;
  border-radius: 12px;
}

.swal2-confirm {
  height: 64px;
  padding: 0px 24px 0px 24px;
  margin-top: 380px !important;
  border-radius: 12px !important;
}

.swal2-cancel {
  /* Font style disamakan dengan style <a> */
  font-weight: 400 !important;
  font-size: 24px !important;

  height: 64px;
  padding: 0px 24px 0px 24px;
  margin-top: 380px !important;
  border-radius: 12px !important;
}

/* ------------------------------- RESPONSIVE ------------------------------- */

/* Sebenarnya cara ini tidak baik, seolah seperti dipaksa zoom */
/* Tested on : http://responsivetesttool.com/ */

/* Mobile Breakpoint 991x568 px */
@media (max-width: 568px) {
  body {
    zoom: 100%;
  }
}

/* Mobile Breakpoint 768x360 px */
@media (max-width: 360px) {
  body {
    zoom: 84%;
  }
}

/* --------------------------------- LAINNYA --------------------------------- */

.profile {
  width: 160px;
  border-radius: 100%;
}

a {
  font-style: normal;
  font-weight: 400 !important;
  font-size: 24px !important;
  color: #F9F9F9 !important;
}