._1_serifa_bold {
    line-height: 1.2
    }
.attribution {
    color: #000;
    display: block;
    font-weight: normal;
    text-align: right
    }
.author_name {
    border-bottom-color: #000;
    border-bottom-style: solid;
    border-bottom-width: 3px;
    display: block;
    font-size: 1.125em;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 5px;
    margin-left: 0;
    margin-right: 0;
    margin-top: 10px;
    text-align: left;
    text-transform: uppercase
    }
.big {
    font-size: 1.125em;
    line-height: 1.2
    }
.blockquote {
    border-bottom-color: #DC0C23;
    border-bottom-style: solid;
    border-bottom-width: 5px;
    border-top-color: #DC0C23;
    border-top-style: solid;
    border-top-width: 5px;
    display: block;
    font-size: 0.75em;
    font-weight: bold;
    margin-bottom: 10px;
    margin-left: 0;
    margin-right: 0;
    margin-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    page-break-inside: avoid;
    text-align: center;
    width: 100%
    }
.blockquote1 {
    border-bottom-color: #FF9027;
    border-bottom-style: solid;
    border-bottom-width: 5px;
    border-top-color: #FF9027;
    border-top-style: solid;
    border-top-width: 5px;
    clear: both;
    display: block;
    font-size: 0.75em;
    font-weight: bold;
    margin-bottom: 10px;
    margin-left: 0;
    margin-right: 0;
    margin-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    page-break-inside: avoid;
    text-align: center;
    width: 100%
    }
.blockquote2 {
    border-bottom-color: #FFC734;
    border-bottom-style: solid;
    border-bottom-width: 5px;
    border-top-color: #FFC734;
    border-top-style: solid;
    border-top-width: 5px;
    display: block;
    font-size: 0.75em;
    font-weight: bold;
    margin-bottom: 10px;
    margin-left: 0;
    margin-right: 0;
    margin-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    page-break-inside: avoid;
    text-align: center;
    width: 100%
    }
.blockquote3 {
    border-bottom-color: #43B94A;
    border-bottom-style: solid;
    border-bottom-width: 5px;
    border-top-color: #43B94A;
    border-top-style: solid;
    border-top-width: 5px;
    display: block;
    font-size: 0.75em;
    font-weight: bold;
    margin-bottom: 10px;
    margin-left: 0;
    margin-right: 0;
    margin-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    page-break-inside: avoid;
    text-align: center;
    width: 100%
    }
.blockquote4 {
    border-bottom-color: #0FACE4;
    border-bottom-style: solid;
    border-bottom-width: 5px;
    border-top-color: #0FACE4;
    border-top-style: solid;
    border-top-width: 5px;
    display: block;
    font-size: 0.75em;
    font-weight: bold;
    margin-bottom: 10px;
    margin-left: 0;
    margin-right: 0;
    margin-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    page-break-inside: avoid;
    text-align: center;
    width: 100%
    }
.blockquote5 {
    border-bottom-color: #D762AF;
    border-bottom-style: solid;
    border-bottom-width: 5px;
    border-top-color: #D762AF;
    border-top-style: solid;
    border-top-width: 5px;
    display: block;
    font-size: 0.75em;
    font-weight: bold;
    margin-bottom: 10px;
    margin-left: 0;
    margin-right: 0;
    margin-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    page-break-inside: avoid;
    text-align: center;
    width: 100%
    }
.body_text {
    -epub-hyphens: none;
    color: #000;
    display: block;
    font-size: 1em;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1.2em;
    margin-bottom: 4px;
    margin-left: 0;
    margin-right: 0;
    margin-top: 4px;
    text-align: left;
    text-decoration: none;
    text-indent: 0
    }
.bold {
    font-size: 1.125em;
    font-weight: bold;
    line-height: 1.2
    }
.border_bott {
    background-color: #DC0B23;
    display: block;
    height: 19px;
    margin-bottom: 10px;
    margin-left: 0;
    margin-right: 0;
    margin-top: 10px;
    width: 100%
    }
.bullet {
    display: block;
    list-style-type: bullet;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 10px;
    padding-bottom: 0;
    padding-top: 0
    }
.calibre {
    display: block;
    font-size: 1em;
    margin-bottom: 0;
    margin-left: 5pt;
    margin-right: 5pt;
    margin-top: 0;
    padding-left: 0;
    padding-right: 0
    }
.calibre1 {
    height: auto;
    width: auto
    }
.calibre2 {
    display: block;
    list-style-image: none;
    list-style-position: outside;
    list-style-type: none;
    margin-bottom: 4px;
    margin-left: 0;
    margin-right: 0;
    margin-top: 4px
    }
.calibre3 {
    font-weight: bold;
    text-decoration: none;
    word-wrap: break-word
    }
.calibre4 {
    font-size: 0.88889em
    }
.calibre5 {
    font-weight: normal;
    text-align: left;
    text-decoration: none;
    word-wrap: break-word
    }
.calibre6 {
    font-weight: bold
    }
.calibre7 {
    display: none;
    list-style-image: none;
    list-style-position: outside;
    list-style-type: none;
    margin-bottom: 4px;
    margin-left: 0;
    margin-right: 0;
    margin-top: 4px
    }
.calibre8 {
    display: list-item;
    list-style-image: none;
    list-style-position: outside;
    list-style-type: none;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0
    }
.calibre9 {
    font-style: italic
    }
.calibre10 {
    display: block
    }
.calibre11 {
    height: auto;
    text-align: center;
    width: 100%
    }
.calibre12 {
    display: block;
    font-size: 1.66667em;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    page-break-inside: avoid;
    text-align: left
    }
.calibre13 {
    display: block;
    font-size: 1.41667em;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 15px;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    page-break-inside: avoid;
    text-align: left
    }
.calibre14 {
    display: block;
    margin-bottom: 5px;
    margin-left: 0;
    margin-right: 0;
    margin-top: 5px;
    text-align: left
    }
.calibre15 {
    font-size: 0.75em
    }
.calibre16 {
    display: block;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-right: 15px;
    text-align: left
    }
.calibre17 {
    clear: both;
    display: block
    }
.calibre18 {
    display: block;
    font-size: 1.125em;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    page-break-inside: avoid;
    text-align: left
    }
.calibre19 {
    display: block;
    font-size: 0.75em;
    line-height: 1.2;
    margin-bottom: 12px;
    margin-left: 5px;
    margin-right: 12px;
    margin-top: 5px;
    text-align: left
    }
.calibre20 {
    font-weight: bold;
    line-height: 1.2
    }
.calibre21 {
    display: block;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 5px;
    text-align: left
    }
.calibre22 {
    height: auto;
    text-align: center;
    width: 99%
    }
.calibre23 {
    font-style: italic;
    line-height: 1.2
    }
.calibre24 {
    height: auto;
    width: 80%
    }
.calibre25 {
    font-size: 0.75em;
    line-height: normal;
    vertical-align: super
    }
.calibre26 {
    font-size: 0.75em;
    line-height: normal;
    vertical-align: sub
    }
.calibre27 {
    font-style: normal;
    line-height: 1.2
    }
.calibre28 {
    height: 65px;
    width: 205px
    }
.calibre29 {
    display: block;
    font-size: 0.75em;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    width: 100%
    }
.calibre30 {
    display: block;
    margin-bottom: 10px;
    margin-left: 0;
    margin-right: 0;
    margin-top: 30px
    }
.calibre31 {
    font-size: 1.5em;
    line-height: 1.2
    }
.calibre32 {
    display: block;
    margin-bottom: 10px;
    margin-left: 0;
    margin-right: 0;
    margin-top: 5px
    }
.calibre33 {
    display: block;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 20px
    }
.calibre34 {
    display: block;
    min-height: 240px
    }
.centeraligned {
    display: block;
    text-align: center
    }
.content_box {
    display: block;
    width: 100%
    }
.contents {
    display: block;
    font-size: 2em;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    page-break-inside: avoid;
    text-align: left
    }
.directbord_red {
    border-bottom-color: #E41F31;
    border-bottom-style: solid;
    border-bottom-width: 5px;
    border-top-color: #E41F31;
    border-top-style: solid;
    border-top-width: 5px;
    display: block;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0
    }
.dirseealso {
    display: inline-block;
    float: left;
    margin-bottom: 10px;
    margin-top: -5px
    }
.first_box {
    display: block;
    text-align: center;
    width: 100%
    }
.fracden {
    font-size: 0.77778em;
    line-height: 1.2;
    vertical-align: sub
    }
.fracden1 {
    font-size: 0.71429em;
    line-height: 1.2;
    vertical-align: sub
    }
.fracnum {
    font-size: 0.77778em;
    line-height: 1.2;
    vertical-align: super
    }
.fracnum1 {
    font-size: 0.71429em;
    line-height: 1.2;
    vertical-align: super
    }
.frame {
    height: auto;
    width: 90%
    }
.frame-2a {
    display: block;
    margin-top: 20px;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: center
    }
.frame-2b {
    display: block;
    margin-bottom: 20px;
    margin-top: 20px;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: center
    }
.frame1 {
    height: auto;
    width: 100%
    }
.frame2 {
    height: auto;
    width: 50%
    }
.frame3 {
    height: auto;
    width: 30%
    }
.frame4 {
    height: auto;
    width: 35%
    }
.frame5 {
    height: auto;
    width: 70%
    }
.frame6 {
    height: auto;
    width: 40%
    }
.glossary {
    display: block;
    margin-bottom: 5px;
    margin-left: 0;
    margin-right: 0;
    margin-top: 15px;
    text-align: left
    }
.how {
    -epub-hyphens: none;
    -epub-line-break: normal;
    display: block;
    font-size: 1.83333em;
    font-style: normal;
    font-variant: normal;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 6px;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    page-break-inside: avoid;
    text-align: left;
    text-indent: 0
    }
.intro {
    display: block;
    margin-bottom: 5px;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    text-align: left
    }
.intro1 {
    display: block;
    margin-bottom: 5px;
    margin-left: 0;
    margin-right: 0;
    margin-top: 10px;
    text-align: left
    }
.introimg {
    display: block;
    float: left;
    margin-bottom: 3px;
    margin-left: 3px;
    margin-right: 3px;
    margin-top: 3px;
    text-align: center;
    width: 200px
    }
.kobospan {
    -webkit-text-combine: inherit
    }
.kobospan1 {
    -webkit-text-combine: inherit;
    line-height: 1.2
    }
.lh1_rule_black {
    border-bottom-color: #000;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    display: block;
    font-size: 1.125em;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 2px;
    margin-left: 0;
    margin-right: 0;
    margin-top: 2px;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    page-break-inside: avoid;
    text-align: left;
    text-transform: uppercase
    }
.lh1_rule_black_abovenochildsect {
    border-top-color: #000;
    border-top-style: solid;
    border-top-width: 2px;
    display: block;
    font-size: 1.41667em;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 2px;
    margin-left: 0;
    margin-right: 0;
    margin-top: 10px;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    page-break-inside: avoid;
    text-align: left
    }
.lh1_rule_black_abovenochildsect2a {
    display: block;
    font-size: 1.41667em;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 2px;
    margin-left: 0;
    margin-right: 0;
    margin-top: 10px;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    page-break-inside: avoid;
    text-align: left
    }
.lh1_rule_black1 {
    border-bottom-color: #000;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    display: block;
    font-size: 1em;
    font-weight: bold;
    margin-bottom: 2px;
    margin-left: 0;
    margin-right: 0;
    margin-top: 2px;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    page-break-inside: avoid;
    text-align: left
    }
.lh1_rule_white_above {
    border-top-color: #FFF;
    border-top-style: solid;
    border-top-width: 2px;
    display: block;
    padding-top: 5px;
    page-break-inside: avoid;
    text-transform: uppercase
    }
.li {
    display: list-item;
    font-size: 1em;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1.2em;
    margin-bottom: 1px;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 10px;
    padding-top: 0;
    text-align: left;
    text-indent: -10px
    }
.logo {
    display: block;
    margin-bottom: 25px;
    margin-top: 15px;
    page-break-inside: avoid;
    text-align: center
    }
.maintocdiv {
    display: list-item;
    list-style-image: none;
    list-style-position: outside;
    list-style-type: none;
    margin-bottom: 15px;
    margin-left: -35px;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0
    }
.maintocentry {
    display: list-item;
    font-size: 0.75em;
    line-height: 1.5em;
    list-style-image: none;
    list-style-position: outside;
    list-style-type: none;
    margin-bottom: 10px;
    margin-left: -20px;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: left
    }
.mediaobject {
    display: block;
    margin-bottom: 5px;
    margin-top: 5px;
    page-break-inside: avoid;
    text-align: center;
    width: 100%
    }
.mediaobject1 {
    display: block;
    page-break-inside: avoid;
    width: 100%
    }
.pagebreak_avoid {
    display: block;
    page-break-after: avoid
    }
.pagebreak_inside_avoid {
    display: block;
    margin-bottom: 8px;
    margin-left: 0;
    margin-right: 0;
    margin-top: 8px
    }
.pagebreakinside_avoid {
    display: block;
    page-break-inside: avoid
    }
.para_text {
    display: block;
    margin-bottom: 5px;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0
    }
.paraindent {
    display: block;
    margin-bottom: 5px;
    margin-left: 0;
    margin-right: 0;
    margin-top: 5px;
    text-align: left;
    text-indent: 7px
    }
.paraindent1 {
    display: block;
    margin-bottom: 5px;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    text-align: left;
    text-indent: 7px
    }
.pbold {
    display: block;
    font-weight: bold;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-right: 15px;
    text-align: right
    }
.picture_credits {
    display: block;
    font-size: 0.75em;
    line-height: 140%;
    margin-bottom: 5px;
    margin-left: 0;
    margin-right: 0;
    margin-top: 10px;
    text-align: left
    }
.picture_credits_title {
    color: #808080;
    display: block;
    font-size: 1.41667em;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 2px;
    margin-left: 0;
    margin-right: 0;
    margin-top: 10px;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    page-break-inside: avoid;
    text-align: left
    }
.section_feature {
    background-color: #E2E2E3;
    border-bottom-color: #9A9B9F;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-left-color: #9A9B9F;
    border-left-style: solid;
    border-left-width: 2px;
    border-right-color: #9A9B9F;
    border-right-style: solid;
    border-right-width: 2px;
    border-top-color: #9A9B9F;
    border-top-style: solid;
    border-top-width: 2px;
    clear: both;
    display: block;
    margin-bottom: 10px;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px
    }
.section_feature1 {
    background-color: #F1D0E5;
    border-bottom-color: #D762AF;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-left-color: #D762AF;
    border-left-style: solid;
    border-left-width: 2px;
    border-right-color: #D762AF;
    border-right-style: solid;
    border-right-width: 2px;
    border-top-color: #D762AF;
    border-top-style: solid;
    border-top-width: 2px;
    clear: both;
    display: block;
    margin-bottom: 10px;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    page-break-inside: avoid
    }
.section_feature2 {
    background-color: #FFECBF;
    border-bottom-color: #FFC734;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-left-color: #FFC734;
    border-left-style: solid;
    border-left-width: 2px;
    border-right-color: #FFC734;
    border-right-style: solid;
    border-right-width: 2px;
    border-top-color: #FFC734;
    border-top-style: solid;
    border-top-width: 2px;
    clear: both;
    display: block;
    margin-bottom: 10px;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    page-break-inside: avoid
    }
.section_feature3 {
    background-color: #C4E7C3;
    border-bottom-color: #36B449;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-left-color: #36B449;
    border-left-style: solid;
    border-left-width: 2px;
    border-right-color: #36B449;
    border-right-style: solid;
    border-right-width: 2px;
    border-top-color: #36B449;
    border-top-style: solid;
    border-top-width: 2px;
    clear: both;
    display: block;
    margin-bottom: 10px;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    page-break-inside: avoid
    }
.section_feature4 {
    background-color: #B6E3F6;
    border-bottom-color: #0FACE4;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-left-color: #0FACE4;
    border-left-style: solid;
    border-left-width: 2px;
    border-right-color: #0FACE4;
    border-right-style: solid;
    border-right-width: 2px;
    border-top-color: #0FACE4;
    border-top-style: solid;
    border-top-width: 2px;
    clear: both;
    display: block;
    margin-bottom: 10px;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    page-break-inside: avoid
    }
.section_feature5 {
    background-color: #FFDBB7;
    border-bottom-color: #FF9027;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-left-color: #FF9027;
    border-left-style: solid;
    border-left-width: 2px;
    border-right-color: #FF9027;
    border-right-style: solid;
    border-right-width: 2px;
    border-top-color: #FF9027;
    border-top-style: solid;
    border-top-width: 2px;
    clear: both;
    display: block;
    margin-bottom: 10px;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    page-break-inside: avoid
    }
.seealso {
    display: block;
    float: left;
    margin-bottom: 0;
    margin-top: 5px
    }
.small {
    font-size: 0.77778em
    }
.subtitle {
    border-bottom-color: #000;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    color: #9B9C9F;
    display: block;
    font-size: 1.125em;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 2px;
    margin-top: 2px;
    page-break-inside: avoid
    }
.subtitle1 {
    color: #9B9C9F;
    display: block;
    font-size: 1.125em;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 2px;
    margin-top: 2px;
    page-break-inside: avoid
    }

@page {
    margin-bottom: 5pt;
    margin-top: 5pt
    }

