.container {
  max-width: 720px;
  /* margin: auto; */
  /* padding: 0 30px; */
}

.flex-container {
  display: flex;
  /* flex-flow: column wrap; */
  justify-content: center;
  /* align-items: stretch; */
  /* align-content: space-between; */
  /* height: 550px; */
}

.unone {
  user-select: none;
}

.marbot-40 {
  margin-bottom: 40px;
}

.alignleft {
  float: left;
}

.alignright {
  float: right;
  text-align: right;
}

@media (max-width: 720px) {
  body {
    zoom: 120% !important;
  }
}