@page {
    margin-bottom: 5pt;
    margin-top: 5pt
    }

.ahd {
    display: block;
    font-family: serif;
    font-size: 1.125em;
    font-style: italic;
    font-variant: normal;
    font-weight: normal;
    line-height: 120%;
    margin-bottom: 0.7em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1.8em;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: center;
    text-decoration: none;
    text-indent: 0
    }
.bhd {
    display: block;
    font-family: serif;
    font-size: 1.125em;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 120%;
    margin-bottom: 0.7em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1.8em;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: center;
    text-decoration: none;
    text-indent: 0
    }
.bib {
    display: block;
    font-family: serif;
    font-size: 0.75em;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 120%;
    margin-bottom: 0;
    margin-left: 1.5em;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: justify;
    text-decoration: none;
    text-indent: -1.5em
    }
.bk-author {
    display: block;
    font-family: serif;
    font-size: 2em;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 120%;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: center;
    text-decoration: none;
    text-indent: 0
    }
.bk-ornament {
    display: block;
    font-variant: normal;
    line-height: 120%;
    margin-bottom: 4em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 2.5em;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: center;
    text-decoration: none;
    text-indent: 0
    }
.bk-pub {
    display: block;
    font-family: serif;
    font-size: 1em;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 120%;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 12em;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: center;
    text-decoration: none;
    text-indent: 0
    }
.bk-pub1 {
    display: block;
    font-family: serif;
    font-size: 1em;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 120%;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0.5em;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: center;
    text-decoration: none;
    text-indent: 0
    }
.bk-subtitle {
    display: block;
    font-family: serif;
    font-size: 1.83333em;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0.5em;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: center;
    text-decoration: none;
    text-indent: 0
    }
.bk-title {
    display: block;
    font-family: serif;
    font-size: 2em;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 120%;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 2em;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: center;
    text-decoration: none;
    text-indent: 0
    }
.calibre {
    display: block;
    font-family: serif;
    font-size: 1em;
    line-height: 120%;
    margin-bottom: 0;
    margin-left: 5pt;
    margin-right: 5pt;
    margin-top: 0;
    orphans: 2;
    padding-left: 0;
    padding-right: 0;
    text-align: left;
    widows: 2
    }
.calibre1 {
    text-decoration: none
    }
.calibre2 {
    display: block
    }
.calibre3 {
    font-style: italic
    }
.calibre4 {
    height: auto;
    max-height: 100%;
    max-width: 100%;
    width: auto
    }
.calibre5 {
    border-collapse: collapse;
    border-spacing: 2px;
    display: table;
    font-variant: normal;
    line-height: 120%;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-decoration: none;
    text-indent: 0;
    width: 100%
    }
.calibre6 {
    display: table-column-group
    }
.calibre7 {
    display: table-column
    }
.calibre8 {
    display: table-row-group;
    vertical-align: middle
    }
.calibre9 {
    display: table-row;
    vertical-align: inherit
    }
.calibre10 {
    font-size: 0.75em;
    line-height: 120%;
    vertical-align: 0.4em
    }
.calibre11 {
    font-weight: bold
    }
.calibre12 {
    font-size: 0.75em;
    line-height: 1.2;
    vertical-align: 0.4em
    }
.calibre13 {
    color: #000;
    text-decoration: none
    }
.calibre14 {
    height: 100%;
    max-height: 100%;
    max-width: 100%;
    width: auto
    }
.cell-style-border {
    border-bottom-color: #000;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-left-color: #000;
    border-left-style: solid;
    border-left-width: 1px;
    border-right-color: #000;
    border-right-style: solid;
    border-right-width: 1px;
    border-top-color: #000;
    border-top-style: solid;
    border-top-width: 1px;
    display: table-cell;
    font-variant: normal;
    line-height: 120%;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0.2em;
    padding-left: 0.5em;
    padding-right: 0.5em;
    padding-top: 0.4em;
    text-align: inherit;
    text-decoration: none;
    vertical-align: top
    }
.cip-break {
    display: block;
    font-family: serif;
    font-size: 0.75em;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 120%;
    margin-bottom: 0;
    margin-left: 1.5em;
    margin-right: 0;
    margin-top: 5em;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: left;
    text-decoration: none;
    text-indent: 0
    }
.cip-spaced {
    display: block;
    font-family: serif;
    font-size: 0.75em;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 120%;
    margin-bottom: 0;
    margin-left: 1.5em;
    margin-right: 0;
    margin-top: 1em;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: left;
    text-decoration: none;
    text-indent: 0
    }
.contentblock {
    display: inline-block;
    text-indent: 0;
    white-space: pre-wrap;
    width: 5em
    }
.contents {
    display: block;
    font-family: serif;
    font-size: 1em;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 120%;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: center;
    text-decoration: none;
    text-indent: 0
    }
.contents-ahd {
    display: block;
    font-family: serif;
    font-size: 1em;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 120%;
    margin-bottom: 0;
    margin-left: 5em;
    margin-right: 0;
    margin-top: 0.8em;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: left;
    text-decoration: none;
    text-indent: 0
    }
.contents-pt {
    display: block;
    font-family: serif;
    font-size: 1em;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 120%;
    margin-bottom: 0;
    margin-left: 5em;
    margin-right: 0;
    margin-top: 2em;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: left;
    text-decoration: none;
    text-indent: -5em
    }
.contents1 {
    display: block;
    font-family: serif;
    font-size: 1em;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 120%;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 2em;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: center;
    text-decoration: none;
    text-indent: 0
    }
.endnote {
    display: block;
    font-family: serif;
    font-size: 0.75em;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 120%;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: justify;
    text-decoration: none;
    text-indent: 1.5em
    }
.ext {
    display: block;
    font-family: serif;
    font-size: 1em;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 1.6em;
    margin-right: 1.6em;
    margin-top: 1em;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: justify;
    text-decoration: none;
    text-indent: 0
    }
.ext_alone {
    display: block;
    font-family: serif;
    font-size: 1em;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1.2;
    margin-bottom: 1em;
    margin-left: 1.6em;
    margin-right: 1.6em;
    margin-top: 1em;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: justify;
    text-decoration: none;
    text-indent: 0
    }
.footnotes {
    border-top-color: #000;
    border-top-style: solid;
    border-top-width: 1px;
    display: block;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 2em;
    padding-top: 0.2em
    }
.fsc {
    font-size: 0.66667em;
    line-height: 120%
    }
.fsc1 {
    font-size: 0.77273em;
    line-height: 1.2
    }
.fsc2 {
    font-size: 0.75em;
    line-height: 120%
    }
.fsc3 {
    font-size: 0.77778em;
    line-height: 120%
    }
.ftxt {
    display: block;
    font-family: serif;
    font-size: 1em;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 120%;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: justify;
    text-decoration: none;
    text-indent: 0
    }
.halftitle {
    display: block;
    font-family: serif;
    font-size: 1.125em;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 120%;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 5em;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: center;
    text-decoration: none;
    text-indent: 0
    }
.ind {
    display: block;
    font-family: serif;
    font-size: 0.75em;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 120%;
    margin-bottom: 0;
    margin-left: 1.5em;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: left;
    text-decoration: none;
    text-indent: -1.5em
    }
.inds {
    display: block;
    font-family: serif;
    font-size: 0.75em;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 120%;
    margin-bottom: 0;
    margin-left: 1.5em;
    margin-right: 0;
    margin-top: 1em;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: left;
    text-decoration: none;
    text-indent: -1.5em
    }
.linespace {
    display: block;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em
    }
.nl {
    display: block;
    font-family: serif;
    font-size: 1em;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 120%;
    margin-bottom: 0;
    margin-left: 3em;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: left;
    text-decoration: none;
    text-indent: -1.5em
    }
.nl-b {
    display: block;
    font-family: serif;
    font-size: 1em;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 120%;
    margin-bottom: 1em;
    margin-left: 3em;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: left;
    text-decoration: none;
    text-indent: -1.5em
    }
.nl-t {
    display: block;
    font-family: serif;
    font-size: 1em;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 120%;
    margin-bottom: 0;
    margin-left: 3em;
    margin-right: 0;
    margin-top: 1em;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: left;
    text-decoration: none;
    text-indent: -1.5em
    }
.nl1 {
    display: block;
    font-family: serif;
    font-size: 1em;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 120%;
    margin-bottom: 0;
    margin-left: 3em;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: left;
    text-decoration: none;
    text-indent: 1.5em
    }
.no-rule {
    display: table-cell;
    font-variant: normal;
    line-height: 120%;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: inherit;
    text-decoration: none;
    vertical-align: top
    }
.no-rule1 {
    display: table-cell;
    font-variant: normal;
    line-height: 120%;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: inherit;
    text-decoration: none;
    vertical-align: bottom
    }
.numblock {
    display: inline-block;
    text-indent: 0;
    white-space: pre-wrap;
    width: 1.5em
    }
.orna {
    display: block;
    font-variant: normal;
    line-height: 120%;
    margin-bottom: 2.5em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 2.5em;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: center;
    text-decoration: none;
    text-indent: 0
    }
.page-a {
    display: block;
    font-family: serif;
    font-size: 1em;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 120%;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0.8em;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: right;
    text-decoration: none;
    text-indent: 0
    }
.page-pt {
    display: block;
    font-family: serif;
    font-size: 1em;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 120%;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 2em;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: right;
    text-decoration: none;
    text-indent: 0
    }
.prect {
    display: block;
    font-family: serif;
    font-size: 1.125em;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 120%;
    margin-bottom: 4em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 5em;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: center;
    text-decoration: none;
    text-indent: 0
    }
.pt {
    display: block;
    font-family: serif;
    font-size: 2em;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 120%;
    margin-bottom: 3em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: center;
    text-decoration: none;
    text-indent: 0
    }
.table {
    border-collapse: collapse;
    border-spacing: 2px;
    display: table;
    font-variant: normal;
    line-height: 120%;
    margin-bottom: 1.5em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1.5em;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-decoration: none;
    text-indent: 0;
    width: 100%
    }
.table-text-center {
    display: block;
    font-family: serif;
    font-size: 0.75em;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 120%;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: center;
    text-decoration: none;
    text-indent: 0
    }
.table-text-left {
    display: block;
    font-family: serif;
    font-size: 0.75em;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 120%;
    margin-bottom: 0;
    margin-left: 1em;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: left;
    text-decoration: none;
    text-indent: -1em
    }
.table-title {
    display: table-cell;
    font-variant: normal;
    line-height: 120%;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0.2em;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: inherit;
    text-decoration: none;
    text-indent: 0;
    vertical-align: top
    }
.table-title1 {
    display: block;
    font-family: serif;
    font-size: 0.75em;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 120%;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: left;
    text-decoration: none;
    text-indent: 0
    }
.txt {
    display: block;
    font-family: serif;
    font-size: 1em;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 120%;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: justify;
    text-decoration: none;
    text-indent: 1.5em
    }

