@page {
    margin-bottom: 5pt;
    margin-top: 5pt
    }

.alignnone {
    height: 48px;
    line-height: 1.2;
    width: 142px
    }
.alignnone1 {
    height: 720px;
    width: 1280px
    }
.calibre {
    display: block;
    font-size: 1.125em;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 5pt;
    margin-right: 5pt;
    margin-top: 0;
    padding-left: 0;
    padding-right: 0
    }
.calibre1 {
    font-weight: bold
    }
.calibre2 {
    color: black;
    display: block;
    font-family: "Times New Roman", times, serif;
    font-size: 0.88889em;
    line-height: 1.2;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em;
    text-align: left
    }
.calibre3 {
    color: black;
    display: block;
    font-family: "Times New Roman", times, serif;
    font-size: 0.66667em;
    line-height: 17px;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em;
    text-align: left
    }
.calibre4 {
    font-family: monospace;
    font-size: 1em;
    font-weight: normal;
    text-decoration: none;
    word-break: break-all
    }
.calibre5 {
    height: 114px;
    width: 371px
    }
.calibre6 {
    font-family: monospace;
    font-size: 0.66667em;
    font-weight: normal;
    text-decoration: none;
    word-break: break-all
    }
.calibre7 {
    display: block;
    font-family: "Times New Roman", times, serif;
    font-size: 0.88889em;
    font-weight: normal;
    list-style-type: disc;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em
    }
.calibre8 {
    display: list-item
    }
.calibre9 {
    color: black;
    display: block;
    font-family: "Times New Roman", times, serif;
    font-size: 1em;
    line-height: 1.2;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em;
    text-align: left
    }
.calibre10 {
    line-height: 1.2
    }
.calibre11 {
    font-family: monospace;
    font-size: 0.75em;
    font-weight: normal;
    text-decoration: none;
    word-break: break-all
    }
.calibre12 {
    font-family: monospace;
    font-size: 0.75em;
    font-weight: normal
    }
.calibre13 {
    font-weight: bold;
    line-height: 1.2
    }
.calibre14 {
    color: black;
    display: block;
    font-family: arial, sans-serif;
    font-size: 1.25926em;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 0.67em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0.67em
    }
.calibre15 {
    display: block;
    font-family: "Times New Roman", times, serif;
    font-size: 0.88889em;
    font-weight: normal;
    list-style-type: decimal;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em
    }
.calibre16 {
    display: block;
    font-family: "Times New Roman", times, serif;
    font-size: 1em;
    font-weight: normal;
    list-style-type: decimal;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0
    }
.calibre17 {
    margin-top: 5em
    }
.calibre18 {
    display: block;
    line-height: 1.2
    }
.calibre19 {
    font-style: italic;
    line-height: 1.2
    }
.calibre20 {
    border-left-color: black;
    border-left-style: solid;
    border-left-width: 1px;
    color: black;
    display: block;
    font-family: monospace;
    font-size: 0.66667em;
    font-weight: normal;
    margin-bottom: 0.12in;
    margin-left: 20px;
    margin-right: 0;
    margin-top: 1em;
    padding-left: 5px;
    white-space: pre-wrap
    }
.calibre21 {
    height: 208px;
    width: 349px
    }
.calibre22 {
    height: 240px;
    width: 153px
    }
.calibre23 {
    height: 66px;
    width: 159px
    }
.calibre24 {
    height: 92px;
    width: 188px
    }
.calibre25 {
    height: 150px;
    width: 203px
    }
.calibre26 {
    height: auto;
    width: auto
    }
.calibre27 {
    height: 176px;
    width: 452px
    }
.calibre28 {
    height: 203px;
    width: 401px
    }
.calibre29 {
    font-style: italic
    }
.calibre30 {
    height: 167px;
    width: 466px
    }
.calibre31 {
    font-size: 0.75em;
    line-height: normal;
    vertical-align: super
    }
.calibre32 {
    height: 461px;
    width: 462px
    }
.calibre33 {
    height: 183px;
    width: 276px
    }
.calibre34 {
    border-left-color: black;
    border-left-style: solid;
    border-left-width: 1px;
    color: black;
    display: block;
    font-family: monospace;
    font-size: 0.66667em;
    font-weight: normal;
    margin-bottom: 0.12in;
    margin-left: 20px;
    margin-right: 0;
    margin-top: 1em;
    padding-left: 60px;
    white-space: pre-wrap
    }
.calibre35 {
    height: 114px;
    width: 383px
    }
.calibre36 {
    height: 168px;
    width: 524px
    }
.calibre37 {
    height: 212px;
    width: 423px
    }
.calibre38 {
    height: 235px;
    width: 391px
    }
.calibre39 {
    height: 179px;
    width: 426px
    }
.calibre40 {
    font-size: 0.75em;
    line-height: normal;
    vertical-align: sub
    }
.calibre41 {
    height: 295px;
    width: 354px
    }
.calibre42 {
    height: 266px;
    width: 344px
    }
.calibre43 {
    height: 260px;
    width: 337px
    }
.calibre44 {
    height: 140px;
    width: 322px
    }
.calibre45 {
    height: 254px;
    width: 546px
    }
.calibre46 {
    height: 143px;
    width: 371px
    }
.calibre47 {
    height: 221px;
    width: 281px
    }
.calibre48 {
    height: 164px;
    width: 377px
    }
.calibre49 {
    height: 184px;
    width: 454px
    }
.calibre50 {
    height: 311px;
    width: 415px
    }
.calibre51 {
    height: 329px;
    width: 536px
    }
.calibre52 {
    color: black;
    font-family: "Times New Roman", times, serif;
    font-size: 1.33333em;
    font-style: italic;
    font-weight: normal
    }
.calibre53 {
    height: 266px;
    width: 322px
    }
.calibre54 {
    height: 207px;
    width: 530px
    }
.calibre55 {
    height: 252px;
    width: 529px
    }
.calibre56 {
    height: 375px;
    width: 389px
    }
.calibre57 {
    height: 239px;
    width: 472px
    }
.calibre58 {
    height: 198px;
    width: 344px
    }
.calibre59 {
    height: 369px;
    width: 190px
    }
.calibre60 {
    height: 253px;
    width: 338px
    }
.calibre61 {
    height: 472px;
    width: 515px
    }
.calibre62 {
    height: 450px;
    width: 490px
    }
.calibre63 {
    font-size: 1em;
    height: 385px;
    line-height: 1.2;
    width: 460px
    }
.calibre64 {
    height: 405px;
    width: 471px
    }
.calibre65 {
    height: 244px;
    width: 527px
    }
.calibre66 {
    height: 330px;
    width: 247px
    }
.calibre67 {
    height: 100px;
    width: 548px
    }
.calibre68 {
    height: 392px;
    width: 350px
    }
.calibre69 {
    height: 194px;
    width: 291px
    }
.calibre70 {
    height: 205px;
    width: 308px
    }
.calibre71 {
    height: 203px;
    width: 305px
    }
.calibre72 {
    height: 170px;
    width: 256px
    }
.calibre73 {
    height: 215px;
    width: 215px
    }
.calibre74 {
    height: 104px;
    width: 398px
    }
.calibre75 {
    height: 142px;
    width: 459px
    }
.calibre76 {
    height: 192px;
    width: 448px
    }
.calibre77 {
    height: 271px;
    width: 265px
    }
.calibre78 {
    height: 180px;
    width: 303px
    }
.calibre79 {
    height: 217px;
    width: 316px
    }
.calibre80 {
    color: #333;
    font-size: 1em;
    height: 207px;
    line-height: 1.2;
    text-align: center;
    width: 382px
    }
.calibre81 {
    height: 475px;
    width: 450px
    }
.calibre82 {
    height: 349px;
    width: 543px
    }
.calibre83 {
    height: 207px;
    width: 546px
    }
.calibre84 {
    display: block;
    font-family: "Times New Roman", times, serif;
    font-size: 1em;
    font-weight: normal;
    list-style-type: disc;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0
    }
.calibre85 {
    height: 257px;
    width: 386px
    }
.calibre86 {
    height: 255px;
    width: 383px
    }
.calibre87 {
    height: 258px;
    width: 388px
    }
.calibre88 {
    height: 259px;
    width: 388px
    }
.calibre89 {
    height: 255px;
    width: 384px
    }
.calibre90 {
    height: 351px;
    width: 544px
    }
.calibre91 {
    height: 331px;
    width: 513px
    }
.calibre92 {
    height: 254px;
    width: 414px
    }
.calibre93 {
    height: 173px;
    width: 437px
    }
.calibre94 {
    height: 140px;
    width: 229px
    }
.calibre95 {
    height: 141px;
    width: 230px
    }
.calibre96 {
    height: 176px;
    width: 449px
    }
.calibre97 {
    height: 326px;
    width: 389px
    }
.calibre98 {
    height: 172px;
    width: 282px
    }
.calibre99 {
    font-size: 1em;
    height: 234px;
    line-height: 1.2;
    width: 263px
    }
.calibre100 {
    height: 159px;
    width: 129px
    }
.cdpaligncenter {
    color: black;
    display: block;
    font-family: "Times New Roman", times, serif;
    font-size: 0.66667em;
    font-weight: normal;
    margin-bottom: 0.18in;
    margin-top: 0.18in;
    text-align: center;
    width: 100%
    }
.cdpaligncenter1 {
    display: block;
    text-align: center
    }
.cdpalignleft {
    display: block;
    margin-bottom: 0.18in;
    margin-top: 0.18in;
    text-align: left;
    width: 100%
    }
.cdpalignleft1 {
    border-left-color: black;
    border-left-style: solid;
    border-left-width: 1px;
    color: black;
    display: block;
    font-family: monospace;
    font-size: 0.66667em;
    font-weight: normal;
    margin-bottom: 0.18in;
    margin-left: 20px;
    margin-right: 0;
    margin-top: 0.18in;
    padding-left: 5px;
    text-align: left;
    white-space: pre-wrap;
    width: 100%
    }
.chapter {
    display: list-item;
    list-style-type: decimal
    }
.chapter-content {
    color: black;
    display: block;
    font-family: "Times New Roman", times, serif;
    font-size: 0.88889em;
    line-height: 1.2;
    margin-bottom: 0.18in;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0.18in;
    text-align: left;
    width: 100%
    }
.fm-editor-equation {
    border-bottom-color: currentColor;
    border-bottom-style: none;
    border-bottom-width: medium;
    border-left-color: currentColor;
    border-left-style: none;
    border-left-width: medium;
    border-right-color: currentColor;
    border-right-style: none;
    border-right-width: medium;
    border-top-color: currentColor;
    border-top-style: none;
    border-top-width: medium;
    height: 13px;
    width: 179px
    }
.fm-editor-equation1 {
    border-bottom-color: currentColor;
    border-bottom-style: none;
    border-bottom-width: medium;
    border-left-color: currentColor;
    border-left-style: none;
    border-left-width: medium;
    border-right-color: currentColor;
    border-right-style: none;
    border-right-width: medium;
    border-top-color: currentColor;
    border-top-style: none;
    border-top-width: medium;
    height: 48px;
    width: 262px
    }
.fm-editor-equation2 {
    border-bottom-color: currentColor;
    border-bottom-style: none;
    border-bottom-width: medium;
    border-left-color: currentColor;
    border-left-style: none;
    border-left-width: medium;
    border-right-color: currentColor;
    border-right-style: none;
    border-right-width: medium;
    border-top-color: currentColor;
    border-top-style: none;
    border-top-width: medium;
    height: 40px;
    width: 136px
    }
.fm-editor-equation3 {
    border-bottom-color: currentColor;
    border-bottom-style: none;
    border-bottom-width: medium;
    border-left-color: currentColor;
    border-left-style: none;
    border-left-width: medium;
    border-right-color: currentColor;
    border-right-style: none;
    border-right-width: medium;
    border-top-color: currentColor;
    border-top-style: none;
    border-top-width: medium;
    height: 47px;
    width: 200px
    }
.fm-editor-equation4 {
    border-bottom-color: currentColor;
    border-bottom-style: none;
    border-bottom-width: medium;
    border-left-color: currentColor;
    border-left-style: none;
    border-left-width: medium;
    border-right-color: currentColor;
    border-right-style: none;
    border-right-width: medium;
    border-top-color: currentColor;
    border-top-style: none;
    border-top-width: medium;
    height: 17px;
    width: 128px
    }
.fm-editor-equation5 {
    border-bottom-color: currentColor;
    border-bottom-style: none;
    border-bottom-width: medium;
    border-left-color: currentColor;
    border-left-style: none;
    border-left-width: medium;
    border-right-color: currentColor;
    border-right-style: none;
    border-right-width: medium;
    border-top-color: currentColor;
    border-top-style: none;
    border-top-width: medium;
    height: 36px;
    width: 94px
    }
.fm-editor-equation6 {
    border-bottom-color: currentColor;
    border-bottom-style: none;
    border-bottom-width: medium;
    border-left-color: currentColor;
    border-left-style: none;
    border-left-width: medium;
    border-right-color: currentColor;
    border-right-style: none;
    border-right-width: medium;
    border-top-color: currentColor;
    border-top-style: none;
    border-top-width: medium;
    height: 27px;
    width: 330px
    }
.fm-editor-equation7 {
    border-bottom-color: currentColor;
    border-bottom-style: none;
    border-bottom-width: medium;
    border-left-color: currentColor;
    border-left-style: none;
    border-left-width: medium;
    border-right-color: currentColor;
    border-right-style: none;
    border-right-width: medium;
    border-top-color: currentColor;
    border-top-style: none;
    border-top-width: medium;
    height: 24px;
    line-height: 1.2;
    width: 54px
    }
.fm-editor-equation8 {
    border-bottom-color: currentColor;
    border-bottom-style: none;
    border-bottom-width: medium;
    border-left-color: currentColor;
    border-left-style: none;
    border-left-width: medium;
    border-right-color: currentColor;
    border-right-style: none;
    border-right-width: medium;
    border-top-color: currentColor;
    border-top-style: none;
    border-top-width: medium;
    height: 24px;
    line-height: 1.2;
    width: 55px
    }
.fm-editor-equation9 {
    border-bottom-color: currentColor;
    border-bottom-style: none;
    border-bottom-width: medium;
    border-left-color: currentColor;
    border-left-style: none;
    border-left-width: medium;
    border-right-color: currentColor;
    border-right-style: none;
    border-right-width: medium;
    border-top-color: currentColor;
    border-top-style: none;
    border-top-width: medium;
    height: 20px;
    width: 62px
    }
.fm-editor-equation10 {
    border-bottom-color: currentColor;
    border-bottom-style: none;
    border-bottom-width: medium;
    border-left-color: currentColor;
    border-left-style: none;
    border-left-width: medium;
    border-right-color: currentColor;
    border-right-style: none;
    border-right-width: medium;
    border-top-color: currentColor;
    border-top-style: none;
    border-top-width: medium;
    height: 19px;
    width: 56px
    }
.fm-editor-equation11 {
    border-bottom-color: currentColor;
    border-bottom-style: none;
    border-bottom-width: medium;
    border-left-color: currentColor;
    border-left-style: none;
    border-left-width: medium;
    border-right-color: currentColor;
    border-right-style: none;
    border-right-width: medium;
    border-top-color: currentColor;
    border-top-style: none;
    border-top-width: medium;
    height: 34px;
    width: 356px
    }
.fm-editor-equation12 {
    border-bottom-color: currentColor;
    border-bottom-style: none;
    border-bottom-width: medium;
    border-left-color: currentColor;
    border-left-style: none;
    border-left-width: medium;
    border-right-color: currentColor;
    border-right-style: none;
    border-right-width: medium;
    border-top-color: currentColor;
    border-top-style: none;
    border-top-width: medium;
    height: 16px;
    line-height: 1.2;
    width: 104px
    }
.fm-editor-equation13 {
    border-bottom-color: currentColor;
    border-bottom-style: none;
    border-bottom-width: medium;
    border-left-color: currentColor;
    border-left-style: none;
    border-left-width: medium;
    border-right-color: currentColor;
    border-right-style: none;
    border-right-width: medium;
    border-top-color: currentColor;
    border-top-style: none;
    border-top-width: medium;
    height: 19px;
    line-height: 1.2;
    width: 30px
    }
.fm-editor-equation14 {
    border-bottom-color: currentColor;
    border-bottom-style: none;
    border-bottom-width: medium;
    border-left-color: currentColor;
    border-left-style: none;
    border-left-width: medium;
    border-right-color: currentColor;
    border-right-style: none;
    border-right-width: medium;
    border-top-color: currentColor;
    border-top-style: none;
    border-top-width: medium;
    height: 21px;
    line-height: 1.2;
    width: 13px
    }
.front-matter {
    display: list-item;
    list-style-type: none
    }
.header-title {
    color: black;
    display: block;
    font-family: arial, sans-serif;
    font-size: 1.77778em;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 0.67em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0.67em
    }
.mce-root {
    display: block;
    margin-bottom: 0.18in;
    margin-top: 0.18in;
    text-align: center;
    width: 100%
    }
.mce-root1 {
    color: black;
    display: block;
    font-family: "Times New Roman", times, serif;
    font-size: 0.88889em;
    line-height: 1.2;
    margin-bottom: 0.18in;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0.18in;
    text-align: center;
    width: 100%
    }
.packt_infobox {
    background-image: url(assets/42b06f9c-bd4a-4166-82a8-b725e0354ddf.png);
    background-position: left center;
    background-repeat: no-repeat;
    background-size: 0.6in;
    color: black;
    display: block;
    font-family: "Times New Roman", times, serif;
    font-size: 0.88889em;
    font-style: italic;
    font-weight: normal;
    margin-left: 20px;
    margin-right: 20px;
    min-height: 0.75in;
    padding-left: 0.7in
    }
.packt_quote {
    color: black;
    display: block;
    font-family: "Times New Roman", times, serif;
    font-size: 0.88889em;
    font-style: italic;
    font-weight: normal
    }
.packt_tip {
    background-image: url(assets/b216e2f2-4a88-4d61-b6e8-54af3ad5ff71.png);
    background-position: left center;
    background-repeat: no-repeat;
    background-size: 0.6in;
    color: black;
    display: block;
    font-family: "Times New Roman", times, serif;
    font-size: 0.88889em;
    font-style: italic;
    font-weight: normal;
    margin-left: 20px;
    margin-right: 20px;
    min-height: 0.75in;
    padding-left: 0.7in
    }
.title-page-name {
    display: block
    }

